@import "./mixins";

$spacing: 8px;

.global-content {
  @include conteiner;
}

.promotions {
  padding: $spacing;
  &__item {
    padding: $spacing;
  }
}

.promotion {
  min-height: 200px;
  width: 100%;
  position: relative;
  &__image {
    overflow: hidden;
    border-radius: 10px;
    @include normalizeImage;
  }
  &__content {
    margin-top: $spacing;
  }
  &__description {
    display: flex;
    justify-content: space-between;
  }
  &__country {
    font-size: 1rem;
    font-weight: 500;
  }
  &__title {
    margin-top: $spacing;
    font-size: 1.3rem;
    font-weight: 500;
  }
  &__link {
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
}
.explore-block {
  padding: $spacing;
  &__item {
    padding: $spacing;
  }
}
.explore-block__explore-content {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}
.explore {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: $spacing;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  color: rgb(34, 34, 34);
  max-height: 126px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.02);
  border-radius: 12px;
  min-height: 84px;
  text-align: center;

  &__content {
    flex-wrap: nowrap;
    align-items: center;
  }
  &__image-block {
    width: 33%;
    overflow: hidden;
    border-radius: 10px 0 0 10px;
  }
  &__image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }

  &__text {
    display: flex;
    padding: 0 16px 0 24px;
    font-weight: 600;
    font-size: 16px;
    align-items: center;
  }
}
.image-stays {
  background-image: url(../assets/images/stays_img_big.png);
}
.image-experienses {
  background-image: url(../assets/images/experience_img_big.png);
}

.image-advantures {
  background-image: url(../assets/images/advantages_img_big.png);
}

@media (max-width: 992px) {
  .explore {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    min-height: 224px;
    padding-right: 8px;

    &__image-block {
      width: 100%;
      height: 80%;
      border-radius: 10px 10px 0 0;
    }
    &__text {
      height: 20%;
      align-items: center;
    }
  }
  .col-md-offset {
    display: none;
  }
}
.introducing,
.promotions {
  margin-bottom: 40px;
  &__link-more {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  &__link-more_text {
    cursor: pointer;
    font-weight: 600;
    color: rgb(34, 34, 34);
    text-decoration: underline;
  }
}
.introduce {
  display: flex;
  flex-direction: row;
  &__content {
    margin-top: $spacing;
  }
  &__country {
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    margin-bottom: 6px;
  }
  &__title {
    font-size: 12px;
    line-height: 20px;
  }
  &__rating {
    font-size: 11px;
  }
}

.page_headers__text {
  font-size: 16px;
  line-height: 24px;
  margin-top: 4px;
}
@media (max-width: 768px) {
  .col-sm-offset {
    display: none;
  }
  .page_headers {
    font-size: 14px;
  }
  .page_headers__text {
    font-size: 12px;
  }
  .introduce__country,
  .introduce__title,
  .introduce__rating {
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
  }
}
@media (max-width: 576px) {
  .col-xs-offset {
    display: none;
  }
}
