* {
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
.body {
  margin: 0;
}

.content {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.img {
  width: 100%;
  position: relative;
}

.img-letter-I {
  position: absolute;
  top: 13%;
  left: 27%;
  width: 80px;
  height: 80px;
}
.img-letter-Plus {
  position: absolute;
  top: 7%;
  left: 66%;
  width: 77px;
  height: 77px;
}
.img-letter-Plus2 {
  position: absolute;
  top: 60%;
  left: 25%;
  width: 79px;
  height: 79px;
}
.img-letter-I2 {
  position: absolute;
  top: 70%;
  left: 75%;
  width: 73px;
  height: 73px;
}

.text-block {
  width: 537px;
  height: 390px;
  display: inline-block;
  top: 165px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  position: absolute;
}
.coming-soon {
  position: absolute;
  margin-top: 0;
  font-weight: bold;
  font-size: 90px;
  line-height: 103px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}
.text-we-will {
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  top: 238px;
  width: 422px;
  font-size: 19px;
  line-height: 22px;
  text-align: center;
  color: #000000;
}

.button {
  border: none;
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 268px;
  height: 57px;
  background: #47fcc0;
  font-size: 23px;
  line-height: 26px;
  display: inline-block;
  text-align: center;
  color: #ffffff;
}

.footer-box {
  position: relative;
  width: 100%;
  height: 109px;
}
.footer {
  position: absolute;
  display: inline-block;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  width: 528px;
  height: 34px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
}
.div-footer-img {
  position: absolute;
  display: inline-block;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  top: 34px;
  width: 107px;
  text-decoration: none;
  
}
.a-design {
  text-decoration: none;
}
.a-wix-design {
    color: #000000; 
}
